.pageTitle {
  text-align: center;
  color: #f8d7da;
  padding-bottom: 10px;
  font-size: 62px;
  -webkit-text-stroke: #927f80 1px;
}

.productImage {
  width: 200px;
  height: auto;
}

.text{
    color: #f8d7da;
}

.btnOrder{
    margin-bottom: 5px;
}

#orderProducts{
    margin-bottom: 10px;
    border-radius: 5px;
    height: auto;
    border: 1px solid #3f3f3f;
}